* {
    background-color: #EEE5E9;
    color: #000;
}

h1 {
    font-size: 40px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

h2, h3 {
    font-family: 'Courier New', Courier, monospace;
    color: #08415C
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
}

p {
    line-height: 1.5em;
}

a {
    color: #CC2936;
}

img {
    max-width: 50%;
    border: 5px solid #fff;
    padding: 10px;
    margin: 20px;
    border-top-right-radius: 30px;
}

li {
    display: inline-block;
    margin-left: 50px;
}